@model DeckofCardsLab.Controllers.DeckOfCards_Create

"<h1>Display Deck of Cards</h1>"
<p>
    DeckID: @Model.deck_id<br />
    Shuffled: @Model.shuffled <br />
    Remaining: @Model.remaining <br />
    Success: @Model.success <br />


</p>
